@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;1,700&display=swap");


/*colors*/
$primary: #458ff6;
$dark: #000;
$light: #7d7987;
$extra-light: #fff;
/*sizzes*/
$content-width: 1270px;

/*main*/
$large-text-size: 48px;
$large-line-height: 48px;
/*article*/
$article-text-size:18px;
$article-line-height:30px;

/*button*/
$max-width-button: 200px;
$max-height-button: 60px;

/*grid items*/
$item-width: 350px;
$item-height: 350px;


* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

@mixin logo {
    line-height: 41px;
    font-weight: 700;
    justify-content: space-between;
    width: 160px;
    display: flex;

    &-circle {
        width: 41px;
        height: 41px;
        background: $primary;
        font-size: 26px;
        color: $extra-light;
        border-radius: 20px;
        text-align: center;
    }

    &-text {
        font-size: 24px;
    }
}

@mixin section-title-h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    color: $dark;
    text-align: center;

    &::after {
        margin: 45px auto auto auto;
        display: block;
        content: "";
        height: 2px;
        width: 56px;
        border-radius: 5px;
        background-color: $dark;
    }
}


@mixin button {

    box-sizing: border-box;
    display: block;
    text-align: center;
    vertical-align: middle;
    padding: 0px 40px;


    max-width: $max-width-button;
    max-height: $max-height-button;


    background: $primary;
    color: $extra-light;
    border: 1px solid $primary;
    border-radius: 55px;

    font-weight: 700;
    transition: 0.5s;
    line-height: 60px;

    &>svg {
        position: absolute;
        display: inline-block;
        fill: $primary;
        transition: .5s;
        margin-top: 19px;
        margin-left: 15px;
    }

    &:hover {
        background: $extra-light;
        color: $primary;
        border: 1px solid $primary;

        &>svg {
            fill: $extra-light;
        }
    }
}


@mixin outline {
    background-color: $extra-light;
    border-color: $primary;
    color: $primary;

    &:hover {
        background: $primary;
        color: $extra-light;
        border: 1px solid $primary;
    }
}

body {
    font-family: "Mulish", sans-serif;
    background-color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: $dark;
}


.container {
    padding: 0 20px;
    margin: 0 auto;
    min-width: $content-width;
    width: $content-width;
}

.header {
    &-navbar {
        margin-top: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-logo {
            @include logo;
        }

        &__list {
            display: flex;
            list-style-type: none;

            &__item {
                margin: 0 20px;
               

                &:last-child {
                    margin-right: 0;
                }
            }
        }



        &__link {
            font-weight: 400;
            font-size: $article-text-size;
            color: $light;
            transition: 0.3s;

            &:hover {
                font-weight: 700;
                color: $dark;
            }
        }

        &__burger {
            display: none;
        }
    }
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text {
        width: 445px;
    }

    &__title {
        margin-top: 180px;
        font-weight: 700;
        font-size: $large-text-size;
        line-height: 56px;
        color: $dark;
    }

    &__descr {
        margin-top: 25px;
        font-weight: 300;
        font-size: 21px;
        line-height: 32px;
        margin-bottom: 48px;
    }

    &__link {
        @include button();
    }

    &__image {
        margin-top: 80px;
    }
}

.cards-name {
    margin: 0 auto;
    margin-top: 200px;


    &__title {
        @include section-title-h3();
        margin: 0 auto;
    }

    &__descr {
        margin: 36px auto auto auto;
        width: 950px;
        height: 60px;
        font-weight: 300;
        font-size: $article-text-size;
        line-height: $article-line-height;
        color: $light;
        text-align: center;
    }
}

.grid {
    margin-top: 95px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;

    &__a {
        display: block;
        width: 350px;
        height: 350px;
    }


    &__img-container {
        height: 110px;
        display: flex;
        align-items: center;
    }

    &__item {
        box-sizing: border-box;
        height: $item-height;
        width: $item-width;
        box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
        padding: 55px 45px 45px 45px;

        &:hover {
            box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.9);
        }
    }

    &__text {
        color: $dark;
        font-weight: 700;
        font-size: 24px;
        line-height: 56px;
    }

    &__info {
        width: 266px;
        color: $light;
        font-weight: 300;
        font-size: 16px;
        line-height: $article-line-height;
    }
}

.button-center {
    text-align: center;
    margin: 0 auto;

    &__container {
        margin: 70px 0 200px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
    }

    &__button {
        @include button();
        @include outline();
    }
}

.show-section {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 500px;
    margin-top: 240px;

    &__text {
        margin: 0 50px;
        width: 445px;
    }

    &__title {
        margin-top: 60px;
        font-weight: 700;
        font-size: 36px;
        line-height: 56px;
        color: $dark;

        &::after {
            margin-top: 33px;
            display: block;
            content: "";
            height: 2px;
            width: 56px;
            border-radius: 5px;
            background-color: $dark;
        }
    }

    &__descr {
        margin-top: 31px;
        font-weight: 300;
        font-size: $article-text-size;
        line-height: $article-line-height;
        margin-bottom: 48px;
    }

    &__link {
        @include button();
        @include outline();


    }

    &__image {
        width: 650px;
        height: 477px;
    }
}

.reverse {
    flex-direction: row;
}

.reviews {

    display: block;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    height: 360px;
    max-height: 425px;
    margin: 0 auto;
    padding-top: 60px;

    &__pos {
        margin-top: 280px;
    }

    &__title {
        @include section-title-h3;
        text-align: center;
        width: 100%;
        color: $extra-light;

        &::after {
            background-color: $extra-light;
            margin-top: 25px;
        }
    }

    &__descr {
        width: 880px;
        color: $extra-light;
        display: flex;
        margin: 0 auto;
        margin-top: 65px;
        display: flex;
        align-items: center;

        &__img {
            width: 137px;
            height: 137px;
            border: 3px solid $extra-light;
            border-radius: 70px;
            background-image: url("../images/man.png");
        }

        &__fullname {
            margin-left: 30px;
            width: 180px;

            &-name {
                font-weight: 700;
                font-size: 22px;
                line-height: $large-line-height;
            }

            &-prof {
                font-weight: 400;
                font-size: $article-text-size;
                line-height: $large-line-height;
            }
        }

        &__text {
            margin-left: 110px;
            width: 420px;
            font-weight: 400;
            font-size: 19px;
            line-height: $article-line-height;
        }
    }
}

.article {
    &__bottom {
        width: 250px;
        margin-left: 33px;
    }

    &__item {
        box-sizing: border-box;
        display: block;
        width: $item-width;
        height: 512px;
        box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
        border-radius: 20px;

        &:hover {
            box-shadow: 10px 40px 50px rgba(142, 142, 142, 0.4);
        }
    }

    &__img-container>img {
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 240px;
    }

    &__text {
        margin-top: 25px;
        font-weight: 700;
        font-size: 21px;
        line-height: 32px;
    }

    &__info {
        margin-top: 12px;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
    }

    &__button {
        margin-top: 30px;
        font-weight: 600;
        font-size: 17px;
        line-height: 28px;
        color: $primary;
    }
}

.footer {
    width: 100%;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    color: $extra-light;
    height: 100%;

    &-wrap {
        display: flex;
        padding: 109px 0;

        &__first-block {
            width: 390px;
            font-weight: 300;
            font-size: $article-text-size;
            line-height: 28px;

            &>p {
                margin-top: 25px;
            }

            &__logo {
                color: $extra-light;
                @include logo;

                &-circle {
                    background: $extra-light;
                    color: $primary;
                }
            }
        }

        &__col {
            margin-left: 145px;

            &>h2 {
                font-weight: 700;
                font-size: 20px;
                line-height: 60px;
            }

            display: block;

            &>ul {
                list-style-type: none;

                &>a {
                    color: $extra-light;
                    font-weight: 300;
                    font-size: $article-text-size;
                    line-height: 38px;
                }
            }
        }
    }

}


































/* 
 ##Device = Desktops
 ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    $content-width: 1024px;

    .container {
        min-width: $content-width;
        width: $content-width;
    }

    footer {
        width: 100%;
    }
}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    $content-width: 900px;
    /*main*/
    $large-text-size: 52px;
    $large-line-height: 52px;
    /*article*/
    $article-text-size: 20px;
    $article-line-height: 30px;

    /*button*/
    $max-width-button: 200px;
    $max-height-button: 60px;

    /*grid items*/
    $item-width: 430px;
    $item-height: 350px;


    .container {
        margin: 0 auto;
        min-width: $content-width;
        width: $content-width;
    }

    .header {
        &-navbar {
            margin-top: 15px;

            &__link {
                font-size: $article-text-size;
            }
        }
    }

    .main {
        &__text {
            width: 445px;
            height: 500px;
        }

        &__image {
            margin: 0;
            width: 500px;
            left: 0px;
        }

        &__title {
            margin-top: 40px;
            font-size: $large-text-size;
        }
    }

    .cards-name {
        margin: 180px 0 20px 0;

        &__descr {
            width: 100%;
            height: 100%;
            font-size: $article-text-size;
            line-height: $article-line-height;
        }
    }

    .grid {

        grid-template-columns: repeat(2, 1fr);
        gap: 40px;

        &__item {
            height: $item-height;
            width: $item-width;
        }

        &__info {
            line-height: $article-line-height;
        }
    }

    .show-section {
        height: 500px;
        margin-top: 240px;

        &__text {
            margin: 0 50px;
            width: 445px;
        }

        &__title {
            margin-top: 20px;
        }

        &__descr {
            font-size: $article-text-size;
            line-height: $article-line-height;
            margin: 0;
            margin-bottom: 30px;
        }

        &__image {
            width: 100%;
            height: 100%;
        }
    }

    .article {
        &__bottom {
            width: 250px;
            margin-left: 33px;
        }

        &__item {
            width: $item-width;

            &:last-child {
                display: none;
            }
        }
    }


    .footer {
        &-wrap {
            padding: 30px 0 0 0;

            &__first-block {
                width: 400px;
                font-size: $article-text-size;

                &>p {
                    margin-top: 40px;
                }
            }

            &__col {
                margin-left: 50px;
            }
        }

    }


}

/* 
##Device = Tablets, iPads 
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    $content-width: 800px;

    .container {
        min-width: $content-width;
        width: $content-width;
    }

    .small-container {
        width: 100%;
    }

    /*main*/
    $large-text-size: 40px;
    $large-line-height: 50px;
    /*article*/
    $article-text-size: 25px;
    $article-line-height: 25px;

    /*button*/
    $max-width-button: 200px;
    $max-height-button: 60px;

    /*grid items*/
    $item-width: 330px;
    $item-height: 350px;

    .header {
        &-navbar {
            position: fixed;
            width: $content-width ;
            margin: 0;
            padding:  20px 0;
            background-color: rgba(255, 255, 255, 0.89);

            &__list {
                display: none;
                width: 100%;

                &.active {
                    display: block;
                    position: absolute;
                    margin-top: 270px;
                    background: #ffffffd8;
                    left: 0;
                    text-align: center;
                    line-height: 20px;
                    padding: 10px 0;
                    font-size: $article-text-size;
                }

                &__item {
                    margin-bottom: 10px;
                }
            }

            &-logo {}

            &__burger {
                display: block;
                cursor: pointer;
                background-color: #458ff6;
                width: 50px;
                height: 50px;
                &.bar {
                    transition: all 1s ease-in-out;
                }
                &.active {
                    background: tomato;
                    .bar:nth-child(1) {
                        transform:  translateY(8px) rotate(45deg);
                        transition: all .5s ease-in-out;
                       
                    }
                    .bar:nth-child(3) {
                        transform: translateY(-8px) rotate(-45deg);
                        transition: all .5s ease-in-out;
                    }
                    .bar:nth-child(2) {
                        transform: translateX(-40px) ;
                        transition: all 0.5s ease-in-out;

                    }
                }

                &>span {
                    margin-top: 20px;
                    display: block;
                    content: '';
                    width: 25px;
                    height: 3px;
                    margin: 5px auto;
                    transition: all .3 ease-in-out;
                    background: #fff;

                    &:first-child {
                        margin-top: 15px;
                    }
                }
            }

            &__item {
                margin: 0 10px;
            }

            &__link {
                font-size: $article-text-size;
            }
        }
    }

    .main {
        padding-top: 60px;

        &__image {
            margin: 0;
            width: 400px;
            left: 0px;
        }

        &__title {
            margin: 0;
            margin-top: 40px;
            font-size: $large-text-size;
            line-height: $large-line-height;
            width: 300px;
        }
    }

    .cards-name {
        &__descr {
            width: 100%;
            height: 100%;
            font-size: $article-text-size;
            line-height: $article-line-height;
        }
    }

    .grid {

        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        &__item {
            height: $item-height;
            width: $item-width;
        }

        &__info {
            line-height: $article-line-height;
        }
    }

    .show-section {
        height: 500px;
        margin-top: 100px;

        &__text {
            margin: 0 50px;
            width: 445px;
        }

        &__title {
            margin-top: 20px;
        }

        &__descr {
            font-size: $article-text-size;
            line-height: $article-line-height;
            margin: 30px 0;
        }

        &__image {
            width: 100%;
            height: 100%;
        }
    }

    .button-center__container {
        margin-bottom: 30px;
    }

    .reviews {
        &__descr {
            width: 550px;
            justify-content: space-between;
            &__fullname{
               display: none;
                position: absolute;
            }

            &__text {
                width: 300px;

            }
        }
    }

    .article {
        &__item {
            width: $item-width;

            &:last-child {
                display: none;
            }
        }
    }

    .footer {
        height: 540px;
        width: 100%;

        &-wrap {
            padding: 30px 0 0 0;

            &__first-block {
                width: 400px;
                font-size: $article-text-size;

                &>p {
                    margin-top: 40px;
                }
            }

            &__col {
                margin-left: 50px;
            }
        }

    }
}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
    $content-width: 490px;

    .container {
        min-width: $content-width;
        width: $content-width;
    }

    .small-container {
        width: 100%;
    }

    /*main*/
    $large-text-size: 25px;
    $large-line-height: 40px;
    /*article*/
    $article-text-size: 20px;
    $article-line-height: 20px;

    /*button*/
    $max-width-button: 200px;
    $max-height-button: 60px;

    /*grid items*/
    $item-width: 330px;
    $item-height: 350px;

    .header {
        &-navbar {
            position: fixed;
            width: $content-width;
            margin: 0;
            padding: 10px 0;
            background-color: rgba(255, 255, 255, 0.89);

            &__list {
                display: none;
                width: 100%;

                &.active {
                    display: block;
                    position: absolute;
                    margin-top: 270px;
                    background: #ffffffd8;
                    left: 0;
                    text-align: center;
                    line-height: 20px;
                    padding: 10px 0;
                    font-size: $article-text-size;
                }

                &__item {
                    margin-bottom: 10px;
                }
            }


            &__burger {
                display: block;
                cursor: pointer;
                background-color: #458ff6;
                width: 50px;
                height: 50px;
                &.bar {
                    transition: all 1s ease-in-out;
                }
                &.active {
                    background: tomato;
                    .bar:nth-child(1) {
                        transform:  translateY(8px) rotate(45deg);
                        transition: all .5s ease-in-out;
                       
                    }
                    .bar:nth-child(3) {
                        transform: translateY(-8px) rotate(-45deg);
                        transition: all .5s ease-in-out;
                    }
                    .bar:nth-child(2) {
                        transform: translateX(-40px) ;
                        transition: all 0.5s ease-in-out;

                    }
                }

                &>span {
                    margin-top: 20px;
                    display: block;
                    content: '';
                    width: 25px;
                    height: 3px;
                    margin: 5px auto;
                    transition: all .3 ease-in-out;
                    background: #fff;

                    &:first-child {
                        margin-top: 15px;
                    }
                }
            }

            &__item {
                margin: 0 10px;
            }

            &__link {
                font-size: $article-text-size;
            }
        }
    }

    .main {
        padding-top: 60px;
        &__image {
            margin: 0;
            width: 300px;
            left: 0px;
        }

        &__title {
            margin: 0;
            margin-top: 40px;
            font-size: $large-text-size;
            line-height: $large-line-height;
            width: 300px;
        }
    }

    .cards-name {
        &__descr {
            width: 100%;
            height: 100%;
            font-size: $article-text-size;
            line-height: $article-line-height;
        }
    }

    .grid {

        grid-template-columns: repeat(1, 1fr);
        gap: 20px;

        &__item {
            margin-left: 15%;
            height: $item-height;
            width: $item-width;
        }

        &__info {
            line-height: $article-line-height;
        }
    }

    .show-section {
        height: 400px;
        margin-top: 10px;

        &__text {
            margin: 0;
            margin-left: 20px;
            width: 445px;
        }

        &__title {
            margin-top: 20px;
        }

        &__descr {
            font-size: $article-text-size;
            line-height: $article-line-height;
            margin: 30px 0;
        }

        &__image {
            width: 100%;
            height: 100%;
        }
    }

    .button-center__container {
        margin-bottom: 30px;
    }

    .reviews {

        margin-top: 20px;
        min-height: 600px;
        &__descr {
            width: 550px;
            display: block;
            align-items: center;
            text-align: center;
            &__fullname {
                margin-left: 32%;
            }
            &__img {
                margin-left: 32%;
            }
            &__text {
                margin: 0 10%;
            }

        }
    }

    .article {
        &__item {
            width: $item-width;
            margin-left: 15%;
            &:last-child {
                display: block;
            }
        }
    }

    .footer {
        height: 100%;
        width: 100%;

        &-wrap {
            padding: 30px 0 0 0;
            display: block;
            &__first-block {
                width: 400px;
                font-size: $article-text-size;

                &>p {
                    margin-top: 40px;
                }
            }

            &__col {
                margin-left: 0px;
                display: block
            }
        }

    }
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    $content-width: 500px;

    .container {
        min-width: $content-width;
        width: $content-width;
    }

    .small-container {
        width: 100%;
    }

    /*main*/
    $large-text-size: 40px;
    $large-line-height: 50px;
    /*article*/
    $article-text-size: 25px;
    $article-line-height: 25px;

    /*button*/
    $max-width-button: 200px;
    $max-height-button: 60px;

    /*grid items*/
    $item-width: 330px;
    $item-height: 350px;

    .header {
        &-navbar {
            position: fixed;
            width: $content-width;
            margin: 0;
            padding: 10px 0;
            background-color: rgba(255, 255, 255, 0.89);

            &__list {
                transition: all .5s ease-in-out;
                display: none;
                width: 100%;

                &.active {
                    display: block;
                    position: absolute;
                    margin-top: 270px;
                    background: #ffffffd8;
                    left: 0;
                    text-align: center;
                    line-height: 20px;
                    padding: 10px 0;
                    font-size: $article-text-size;
                }

                &__item {
                    margin-bottom: 10px;
                }
            }

            &-logo {}

            &__burger {
                display: block;
                cursor: pointer;
                background-color: #458ff6;
                width: 50px;
                height: 50px;
                &.bar {
                    transition: all 1s ease-in-out;
                }
                &.active {
                    background: tomato;
                    .bar:nth-child(1) {
                        transform:  translateY(8px) rotate(45deg);
                        transition: all .5s ease-in-out;
                       
                    }
                    .bar:nth-child(3) {
                        transform: translateY(-8px) rotate(-45deg);
                        transition: all .5s ease-in-out;
                    }
                    .bar:nth-child(2) {
                        transform: translateX(-40px) ;
                        transition: all 0.5s ease-in-out;

                    }
                }

                &>span {
                    margin-top: 20px;
                    display: block;
                    content: '';
                    width: 25px;
                    height: 3px;
                    margin: 5px auto;
                    transition: all .3 ease-in-out;
                    background: #fff;

                    &:first-child {
                        margin-top: 15px;
                    }
                }
            }

            &__item {
                margin: 0 10px;
            }

            &__link {
                font-size: $article-text-size;
            }
        }
    }

    .main {
        padding-top: 60px;

        &__image {
            margin: 0;
            width: 400px;
            left: 0px;
        }

        &__title {
            margin: 0;
            margin-top: 40px;
            font-size: $large-text-size;
            line-height: $large-line-height;
            width: 300px;
        }
    }

    .cards-name {
        &__descr {
            width: 100%;
            height: 100%;
            font-size: $article-text-size;
            line-height: $article-line-height;
        }
    }

    .grid {

        grid-template-columns: repeat(1, 1fr);
        gap: 20px;

        &__item {
            height: $item-height;
            width: $item-width;
        }

        &__info {
            line-height: $article-line-height;
        }
    }

    .show-section {
        height: 500px;
        margin-top: 100px;

        &__text {
            margin: 0 50px;
            width: 445px;
        }

        &__title {
            margin-top: 20px;
        }

        &__descr {
            font-size: $article-text-size;
            line-height: $article-line-height;
            margin: 30px 0;
        }

        &__image {
            width: 100%;
            height: 100%;
        }
    }

    .button-center__container {
        margin-bottom: 30px;
    }

    .reviews {

        margin-top: 20px;
        min-height: 600px;
        &__descr {
            width: 550px;
            display: block;
            align-items: center;
            text-align: center;
            &__fullname {
                margin-left: 32%;
            }
            &__img {
                margin-left: 32%;
            }
            &__text {
                margin: 0 10%;
            }

        }
    }


    .article {
        &__item {
            width: $item-width;

            &:last-child {
                display: none;
            }
        }
    }

    .footer {
        height: 100%;
        width: 100%;

        &-wrap {
            padding: 30px 0 0 0;
            display: block;
            &__first-block {
                width: 400px;
                font-size: $article-text-size;

                &>p {
                    margin-top: 40px;
                }
            }

            &__col {
                margin-left: 0px;
                display: block
            }
        }

    }
}